@charset "UTF-8";

// @authors Harry
// @date    2014-08-19 10:51:43

.archive-list {
    margin-top: 3em;
    padding-left: 0;
    padding-bottom: 2em;
    line-height: 1.8em;
    border-bottom: 4px double #ccc;
    color: #333;
    &:last-child {
        border-bottom-width: 0;
    }
    > li {
        list-style: none;
    }
    ul {
        li {
            small {
                margin-right: 20px;
            }
        }
    }
}
