@charset "UTF-8";

// @authors Harry
// @date    2014-05-27 23:03:09

//
// Variables
// --------------------------------------------------

//== Colors
$red:                    #7f0019 !default;
$cyan:                   #007f66 !default;
$brand-chase:            #f5f2e9 !default;
$brand-shencha:          #f5eedd !default;
$brand-instagram:        #3f729b !default;
$brand-weibo:            #e6162e !default;
$brand-github:           #4183c4 !default;

$gray-base:              #000 !default;
$gray-dark:              lighten($gray-base, 20%) !default; // #333
$gray-light:             lighten($gray-base, 40%) !default; // #666
$gray-lighter:           lighten($gray-base, 60%) !default; // #999

//
// Mixins
// --------------------------------------------------
@import "mixins/clearfix";
@import "mixins/text-overflow";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #fafafa;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: $red;
}
a:hover, a:active {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: .83em;
    margin: 1.67em 0
}

h6 {
    font-size: .67em;
    margin: 2.33em 0
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

p, ul, ol {
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: inherit;
    color: inherit;
}

hr {
    height: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(255,255,255,.8);
}

blockquote {
    border-left: 2px solid #ddd;
    color: #595959;
    margin: 1em 0;
    padding-left: 0.75em;
}
blockquote p {
    display: inline;
}

.clearfix {
    @include clearfix;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.blog-header {
    background-color: $red;
    border-bottom: 1px solid darken($red, 10%);
    nav {
        width: 100%;
        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            line-height: 1em;
            padding: 1.4em 0;
            margin-right: 2em;
            &:hover, &:focus {
                color: #bf808c;
                text-decoration: none;
            }
        }
    }
}

.blog-main > .container > .blog-post {
    &:not(:last-child) {
        border-bottom: 4px double #ccc;
    }
}

.blog-post {
    margin-top: 3em;
    padding-bottom: 3em;
    line-height: 1.8em;
    *:last-child {
        margin-bottom: 0;
        border-bottom-width: 0;
    }

//    &:last-child {
//        border-bottom-width: 0;
//    }
}
.blog-post-detail {
    border-bottom-width: 0;
}
.blog-post-title, .archive-list-title {
    margin-top: 0;
    a {
        color: #333;
        &:hover {
            color: $red;
        }
    }
}

.blog-post-meta {
    span {
        margin-right: 1em;
        color: #888;
    }
    a {
        color: #888;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    padding: 3em 0;
    border-top: 1px solid #ddd7c7;
    background-color: $brand-shencha;
    color: #999;
    a {
        color: #666;
        text-shadow: 0 1px 0 #fff;
        margin-right: .6em;
        transition: color 0.2s ease-out;
        &:hover {
            color: $red;
        }
    }
    .container {
        display: flex;
    }
    .footer-copyright {
        font-size: .8em;
        flex: 1;
        vertical-align: top;
        p {
            margin-top: 0;
            margin-bottom: 0;
            text-align: right;

        }
    }
    .footer-info {
        flex: 1;
    }
}

.pager {
    padding: 3em 0;
    text-align: center;
    border-top: 4px double #ccc;
    a {
        height: 60px;
        line-height: 60px;
        display: inline-block;
        margin: 0 20px;
        color: #bf808c;
    }
}

a.btn {
    &-instagram {
        &:hover {
            color: $brand-instagram;
        }
    }
    &-weibo {
        &:hover {
            color: $brand-weibo;
        }
    }
    &-github {
        &:hover {
            color: $brand-github;
        }
    }
}

@import "archive";
@import "album";
