    <!-- /footer -->
    <footer>
        <div class="container">
            <div class="footer-info">
                <a class="btn-instagram" href="#"><i class="fa fa-instagram fa-2x"></i></a>
                <a class="btn-github" href="#"><i class="fa fa-github fa-2x"></i></a>
                <a class="btn-weibo" href="#"><i class="fa fa-weibo fa-2x"></i></a>
            </div>
            <div class="footer-copyright">
                <p>Power by <a href="#">farbox</a>, Design by <a href="#">harry</a></p>
                <p>Thanks for <a href="#">dropbox</a>, <a href="#">font-awesome</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
