<!DOCTYPE html>
<html lang="zh-Hans" xml:lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
    <header class="blog-header">
        <div class="container">
            <nav class="nav">
                <a href="index.html">Home</a>
                <a href="archive.html">Archive</a>
                <a href="tags.html">Tags</a>
                <a href="album.html">Album</a>
                <a href="#">Links</a>
                <a href="#">About</a>
            </nav>
        </div>
    </header>
